.register-form{
    /* width: 30%; */
    display: flex;
    flex-direction: column;
    margin: auto;

}

.redirectToLogin{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.pad{
    margin-left: 0 12px;
    padding: 15px 0;
    
}
.rounded1{
    border-radius: 10px
}

.marg{
    margin: 0 15px;
}
